# Logs
logs
*.log
pnpm-debug.log*
.pnpm-store

# Modules
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local