/** biome-ignore-all lint/suspicious/noDuplicateProperties: checked */
@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --transition-duration-standard: 250ms;

  --height-panel-header: 32px;
  --height-input-thin: 24px;
  --height-input-thick: 36px;

  --width-panel-header: 32px;
  --width-input-thin: 24px;
  --width-input-thick: 36px;

  --gap-very-small: 0.125rem;
  --gap-small: 0.25rem;
  --gap-medium: 0.5rem;
  --gap-big: 0.75rem;
  --gap-form-field: 0.25rem;
  --gap-form-field-big: 0.5rem;

  --margin-very-small: 0.125rem;
  --margin-small: 0.25rem;
  --margin-medium: 0.5rem;
  --margin-big: 0.75rem;
  --margin-form-field: 0.25rem;
  --margin-form-field-big: 0.5rem;

  --padding-very-small: 0.125rem;
  --padding-small: 0.25rem;
  --padding-medium: 0.5rem;
  --padding-big: 0.75rem;
  --padding-form-field: 0.25rem;
  --padding-form-field-big: 0.5rem;

  --space-very-small: 0.125rem;
  --space-small: 0.25rem;
  --space-medium: 0.5rem;
  --space-big: 0.75rem;
  --space-form-field: 0.25rem;
  --space-form-field-big: 0.5rem;

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply size-full;
  }
  html {
    @apply size-full;
    touch-action: none;
  }
  #root {
    @apply size-full;
  }
  .pixelated-canvas {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: pixelated; /* Chrome, Opera */
    image-rendering: crisp-edges; /* Safari */
  }

  .alpha-background {
    --alpha-background-size: 10px;
    background: repeating-conic-gradient(#bfbfbf 0% 25%, #fff 0% 50%) 50% /
      var(--alpha-background-size) var(--alpha-background-size);
  }

  .dark {
    color-scheme: dark;
  }

  input[type="color"] {
    border: none;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: 1px solid hsl(var(--input));
    @apply rounded-md;
  }

  .remove-table-child > div {
    display: block !important;
  }

  .wheel-hsl {
    border-radius: 50%;
    background: conic-gradient(
        from 0deg,
        rgb(255, 0, 0),
        rgb(255, 255, 0),
        rgb(0, 255, 0),
        rgb(0, 255, 255),
        rgb(0, 0, 255),
        rgb(255, 0, 255),
        rgb(255, 0, 0)
      ),
      radial-gradient(circle closest-side, white, transparent);
    background-blend-mode: overlay;
  }

  .alpha-track {
    --alpha-track-color: 10px;
    background: linear-gradient(
        to bottom,
        var(--alpha-track-color),
        transparent
      ),
      repeating-conic-gradient(#bfbfbf 0% 25%, #fff 0% 50%) 50% / 10px 10px;
    background-blend-mode: normal;
  }

  .hsvalue-track {
    --hsvalue-track-color: 10px;
    background: linear-gradient(to bottom, var(--hsvalue-track-color), black);
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes glow-animation {
    0% {
      stroke: red;
      stroke-width: 2;
      filter: drop-shadow(0 0 5px red);
    }
    50% {
      stroke: hsl(var(--foreground));
      stroke-width: 4;
      filter: drop-shadow(0 0 20px hsl(var(--foreground)));
    }
    100% {
      stroke: red;
      stroke-width: 2;
      filter: drop-shadow(0 0 5px red);
    }
  }

  .glowing-eye {
    animation: glow-animation 1.5s infinite alternate;
  }

  .animate-fade-in {
    animation: fade-in 0.2s ease-in-out;
  }

  .image-outline {
    --image-outline-color: white;
    filter: drop-shadow(1px 0 0 var(--image-outline-color))
      drop-shadow(0 1px 0 var(--image-outline-color))
      drop-shadow(-1px 0 0 var(--image-outline-color))
      drop-shadow(0 -1px 0 var(--image-outline-color));
  }

  .pile {
    display: grid;
    > * {
      grid-area: 1/1;
    }
  }
}
