name: Validate

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "22.14.0"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.2.0

      - name: Install packages
        run: pnpm install --prefer-offline

      - name: Run unit tests, typescript checks and linting
        run: pnpm validate

  e2e-tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "22.14.0"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.2.0

      - name: Install packages
        run: pnpm install --prefer-offline

      - name: Install browsers
        run: pnpm --filter @painting-droid/web test:e2e:install-browsers

      - name: Run e2e tests
        run: pnpm --filter @painting-droid/web test:e2e

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: apps/web/playwright-report/
          retention-days: 30

